<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ip代理池</title>
        <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>操作列表</h1>
            <table class="table">
                <tr><td><a href="proxys">可用代理列表</a></td></tr>
                <tr><td><a href="get_proxy_txt">获取一个ip代理(txt格式)</a></td></tr>
                <tr><td><a href="get_proxy_json">获取一个ip代理(json格式)</a></td></tr>
                <tr><td><a href="get_all_proxy">获取所有ip代理(json格式)</a></td></tr>
            </table>
        </div>
    </body>
</html>
